<h1>Dashboard do Admin</h1>
<% if @proposals.empty? %>
  Sem Propostas no momento
<% end %>
<% @proposals.each do |p| %>
  <%= link_to "Proposta ##{p.id}", au_pair_proposal_path(p.au_pair, p) %>
<% end %>