<div class='container'>
<h1>Mila Babies</h1>
<br>
<p style='font-size:1.5em'>Mila Babies é uma aplicação feita para inicialmente atender as necessidades 
de negócio da Camila, irmã da Carla, o qual ela mesmo criou. Um negócio focado 
em serviço de babás premium para cuidar apenas das crianças, e cobrado por hora.
Sendo seu grande diferencial o cuidado especial com as mesmas.
Para essa necessidade, a aplicação foi introduzida com as ideias da Camila, Mila,
que iria expandir o seu negócio fazendo uma curadoria das novas babás, além de 
encontrar novas clientes. E com ajuda do sistema, gerenciar tudo isso sem perder 
o toque pessoal dela na entrega desse serviço diferenciado.
A aplicação disponibiliza o cadastro das babás com direito a nota e depoimento
dados por quem já usou o serviço da babá. Depoimentos os quais segunda a Mila 
seriam o grande ponto de negócio, MVP, para o crescimento e sucesso do negócio.
Para facilitar a contratação do serviço, foi disponibilizado fazer a 
contratação/proposta via aplicação, a qual a gerência fica a cargo do 
administrador da aplicação, englobando a curadoria das novas babás.</p>
</div>